 @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&family=Karma:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap');

 /* font-family: 'Karma', serif; 
 */


 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.logo {
    width: 60px;
    margin: 10px 10px;
    border-radius: 50%;
}

body{
    background-color: #EEE1F6;
    display: grid;
    
}

.nav-bar {
    margin-top: 0px;
    padding-top: 30px;
    display: block;
    float:right;
    text-align: center;
    
}
.nav-title {
    padding: 15px;
    color: white;
    background-color: #3B1756;
    text-decoration: none;
    font-weight: 200;
    font-family: 'Bitter', serif;
    padding-right: 50px;
    
}

.nav-title:hover {
    text-decoration: underline;
    
}

.header {
    background-color: #3B1756;
    height: 80px;
}


/* .main-title{
    font-family: 'Battambang', cursive;
    text-align: center;
} */

.slider-bar {
    width: 100%;
    height: 800px;
    position: relative;
    place-items: center;
    overflow: hidden;
    
  }
  
.diapositiva {
width: 100%;
height: 100%;
position: absolute;
transition: all 0.5s;
}
  
.diapo-img {
width: 100%;
height: 100%;
object-fit: fill;
}

.diapo-boton {
position: absolute;
width: 40px;
height: 40px;
padding: 10px;
border: none;
border-radius: 30%;
cursor: pointer;
background-color: #ffffffb3;
font-size: 18px;

}

.boton-prox {
top: 450px;
right: 10px;
}

.boton-prev {
top: 450px;
left: 10px;
}

#Experience {
    margin-top: 90px;
    text-align: center;
    font-family: 'Battambang';
    color:#3B1756; 
    font-size: 40px;
   
}


.proyectos{
    display: grid;
    grid-template-areas: 
    "post1 post2"
    "post3 post3" ;
    margin-left: 90px;
}

.project-post{
    display: inline-block;
    border: 4px #3B1756 solid;
    border-radius: 10%;
    margin: 10px;
    text-align: center;
    width: 600px;
}



.post1{
    grid-area: post1;
}

.post2{
    grid-area: post2;
}

.post3{
    grid-area: post3;
    margin-left: 350px;
    
}


.project-img{
    
    width: 500px;

}

.project-title{
    font-family: 'Bitter', serif;
    padding: 20px 0;
}

.technologies {
    list-style: square;
    margin-left: 70px;
    padding-top: 20px;
}
.techno-item{
   text-align: left;
   font-family: 'Karma', serif; 
}

.project-date{
    font-family: 'Karma', serif; 
    margin-bottom: 20px;
    font-weight: bold;
}

.project-btn{
    margin-bottom: 20px;
    background-color: #3B1756;
    color:white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.experience-header:hover{
    animation: spin 0.5s infinite linear;
    text-decoration: underline;
    cursor: pointer;
}



/* MEDIA RESPONSIVE */

@media screen and (max-width: 900px){

    .diapositiva {
        height: 60%;
        }

    .boton-prox {
        top: 250px;
        right: 10px;
        }
        
    .boton-prev {
    top: 250px;
    left: 10px;
    }

    #Experience {
        margin-top: -200px;
        font-family: 'Karma', serif;
    }
    
    .proyectos{
        display: grid;
        grid-template-areas: 
        "post1"
        "post2"
        "post3" ;
        margin-left: 50px;

    }

    .post3{
        margin-left: 10px;
    }

  
}


@media screen and (max-width: 500px){

    .diapositiva {
        height: 40%;
        }

    .boton-prox {
        top: 150px;
        right: 10px;
        }
        
    .boton-prev {
    top: 150px;
    left: 10px;
    }

    #Experience {
        margin-top: -400px;
    }
   
    .proyectos{
        display: grid;
        grid-template-areas: 
        "post1"
        "post2"
        "post3" ;
        margin-left: 20px;

    }

    .project-post{
        display: inline-block;
        width: 400px;
    }

    .project-img{
        width: 70%;
    }

    
}