 @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&family=Karma:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap');

 /* font-family: 'Karma', serif; 
 */


 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.logo {
    width: 60px;
    margin: 10px 10px;
    border-radius: 50%;
}

body{
    background-color: #EEE1F6;
    display: grid;
    
}

.nav-bar {
    margin-top: 0px;
    padding-top: 30px;
    display: block;
    float:right;
    text-align: center;
    
}
.nav-title {
    padding: 15px;
    color: white;
    background-color: #3B1756;
    text-decoration: none;
    font-weight: 200;
    font-family: 'Bitter', serif;
    padding-right: 50px;
    
}

.nav-title:hover {
    text-decoration: underline;
    
}

.header {
    background-color: #3B1756;
    height: 80px;
}


/* .main-title{
    font-family: 'Battambang', cursive;
    text-align: center;
} */

.slider-bar {
    width: 100%;
    height: 800px;
    position: relative;
    place-items: center;
    overflow: hidden;
    
  }
  
.diapositiva {
width: 100%;
height: 100%;
position: absolute;
transition: all 0.5s;
}
  
.diapo-img {
width: 100%;
height: 100%;
object-fit: fill;
}

.diapo-boton {
position: absolute;
width: 40px;
height: 40px;
padding: 10px;
border: none;
border-radius: 30%;
cursor: pointer;
background-color: #ffffffb3;
font-size: 18px;

}

.boton-prox {
top: 450px;
right: 10px;
}

.boton-prev {
top: 450px;
left: 10px;
}

.page-header {
    margin-top: 90px;
    text-align: center;
    font-family: 'Battambang';
    color:#3B1756; 
    font-size: 40px;
   
}


.proyectos{
    display: grid;
    grid-template-areas: 
    "post1 post2"
    "post3 post3" ;
    margin-left: 90px;
}

.project-post{
    display: inline-block;
    border: 4px #3B1756 solid;
    border-radius: 10%;
    margin: 10px;
    text-align: center;
    width: 600px;
}



.post1{
    grid-area: post1;
}

.post2{
    grid-area: post2;
}

.post3{
    grid-area: post3;
    margin-left: 350px;
    
}


.project-img{
    
    width: 500px;

}

.project-title{
    font-family: 'Bitter', serif;
    padding: 20px 0;
}

.technologies {
    list-style: square;
    margin-left: 70px;
    padding-top: 20px;
}
.techno-item{
   text-align: left;
   font-family: 'Karma', serif; 
}

.project-date{
    font-family: 'Karma', serif; 
    margin-bottom: 20px;
    font-weight: bold;
}

.project-btn{
    margin-bottom: 20px;
    background-color: #3B1756;
    color:white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.page-header:hover{
    animation: spin 0.5s infinite linear;
    text-decoration: underline;
    cursor: pointer;
}

.about-me-section{
    display: grid;
    grid-template-areas: 
    "header header"
    "perfil objetivos"
    "gustos gustos";
    background-color: #3B1756;
    justify-items: center;
}

#about-header{
    grid-area: header;
    margin-bottom: 30px;
    color: #EEE1F6;
}

@keyframes move {
    to {
      translate: 50px;
    }
  }

.perfil{
    grid-area: perfil;
    
    animation: move 1s infinite alternate;
    position: relative;
    display: inline-block;
    animation-timing-function: ease-out;
    
}



.objetivos {
    grid-area: objetivos;
    text-align: center;
    margin-top: 50px;
    border: #EEE1F6 solid;
    border-radius: 5%;
    background-color: #EEE1F6;
    padding: 0 80px;
}


.foto-emily{
    width:300px;
    border:20px #EEE1F6 solid;
    margin-top: 20px;
    
}

.nombre{
    font-family: 'Bitter', serif;
    
    color: white;
}

.obj-title{
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Bitter', serif;

}

.obj-item{
    font-family: 'Karma', serif;
    text-align: left;
}

.obj-list{
    list-style: square;
    margin-left: 50px;

}

.gustos-title{
    grid-area: gusto-title;
    text-align: center;
    font-family: 'Bitter', serif;
    padding: 40px 0;
    font-size: 30px;
    color: #EEE1F6;
}

.gustos{
    grid-area: gustos;

    display: grid;
    grid-template-areas: 
    "gusto-title gusto-title"
    "gusto1 gusto2" 
    "gusto3 gusto4";
    justify-items: center;
    margin-bottom: 50px;
    
}

.gusto-img{
    border: 10px #EEE1F6 solid;
}

.gusto1{
    grid-area: gusto1;
    width: 400px;
    border-radius: 10%;
    margin-right: 20px;
}

.gusto2{
    grid-area: gusto2;
    width: 450px;
    height: 400px;
    border-radius: 10%;
    margin-bottom: 20px;

}
.gusto3{
    grid-area: gusto3;
    width: 400px;
    height: 380px;
    border-radius: 10%;
    margin-right: 20px;
}
.gusto4{
    grid-area: gusto4;
    width: 450px;
    height: 380px;
    border-radius: 10%;
   
}

.progress-section {
    text-align: center;
}

.Progress-bar {
    width: 80%;
    background-color: #ddd;
    margin-left: 150px;
    
  }
  
.bar {
    width: 5%;
    height: 30px;
    background-color:#973edb;
    padding: 5px 20px;
    color:#3B1756;
    text-shadow: 1px 1px black;
    
  }


.progress-btn{
    margin: 10px 0;
    
}

.btn {
    border: none;
    border-radius: 10%;
    background-color: #3B1756;
    color:white;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.Progress-title{
    font-family: 'Bitter', serif;
    color: #3B1756;
    text-decoration: underline;
    margin: 20px 0;
    animation: move 0.75s infinite alternate;
    display: inline-block;
    animation-timing-function: linear;
}


.skill-btn {
    margin-left: 50px;
}

.skills-chart{
    margin: 30px 0;
   
    color: #ddd;
    display: grid;
    grid-template-areas: 
    "skill1 skill2"
    "skill3 skill3";
    justify-content: center;
    grid-template-columns: 400px 400px;
    justify-content: space-around;
}

.skill-post{
    border: #3B1756 solid;
    border-radius: 10%;
    background-color: #3B1756;
}

.skill1{
    margin-bottom: 50px;
}

.skill2{
    margin-bottom: 50px;
}

.skill-title{
    text-align: center;
    font-family: 'Bitter', serif;
    margin: 20px 0;
}

.skill-description{
    font-family: 'Karma', serif; 
    text-align: center;
    margin: 10px 20px;
}

.contact-me{
    background-color: #3B1756;
}

#ContactMe{
    color: #EEE1F6;
}

.redes-sociales{
    display: grid;
    grid-template-areas: 
    "header-red header-red header-red"
    "red1 red2 red3"
    "red4 msg-red red5";
    align-items: center;
}

.redes-header{
    grid-area: header-red;
    font-family: 'Battambang', cursive;
    color: #EEE1F6;
    text-align: center;
    margin: 40px 0;
}
.red{
    margin: 0 auto;
    text-align: center;
}

.red1{
    grid-area: red1;
}

.red2{
    grid-area: red2;
}

.red3{
    grid-area: red3;
}

.red4{
    grid-area: red4;
}

.red5{
    grid-area: red5;
}

.red-img1{
    width:200px
}

.red-img2{
    width:200px
}

.red-img3{
    width:200px
}

.red-title{
    font-family: 'Bitter', serif;
    color: #EEE1F6;
    margin: 20px 0;
}

.red-msg{
    font-family: 'Karma', serif; 
    grid-area: msg-red;
    color:#3B1756;
    text-align: center;
    
    background-color: #EEE1F6;
    padding: 50px 0;
    border-radius: 10%;
}

.red-descripcion{
    font-family: 'Karma', serif; 
    color: #EEE1F6;
}



/* -------------------- MEDIA RESPONSIVE ----------------------- */

@media screen and (max-width: 900px){

    .diapositiva {
        height: 60%;
        }

    .boton-prox {
        top: 250px;
        right: 10px;
        }
        
    .boton-prev {
    top: 250px;
    left: 10px;
    }

    #Experience {
        margin-top: -200px;
        
    }
    
    .proyectos{
        display: grid;
        grid-template-areas: 
        "post1"
        "post2"
        "post3" ;
        margin-left: 50px;

    }

    .post3{
        margin-left: 10px;
    }

    .about-me-section{
        display: grid;
        grid-template-areas:
        "header"
        "perfil"
        "objetivos"
        "gustos";
        background-color: #3B1756;
        justify-items: center;
    }

    .objetivos {
        grid-area: objetivos;
        text-align: center;
        margin-top: 50px;
       
        border: #EEE1F6 solid;
        border-radius: 5%;
        background-color: #EEE1F6;
        padding: 10px 40px;

    }


    .gustos{
        grid-area: gustos;
    
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-areas: 
        "gusto-title"
        "gusto1 gusto2" 
        "gusto3 gusto4";
        justify-items: center;
        
        
    }
    
    .gusto-img{
        width: 250px;
        height: 200px;
        
    }

    .skills-chart{    
        grid-template-columns: 300px 300px;
        justify-items: center;
        
    }

    .skill-post{
        height: 300px;
    }

    .skill-title{
        font-size: 25px;
    }

    .skill-description{
        font-size: 17px;
    }

     .skill2 .skill-description{
        font-size: 13px;
    }

    .skill4 .skill-description{
        font-size: 14px;
    } 

    .bar {
        
        padding: 5px 20px;
        
      }

      .Progress-bar {
        margin-left: 80px;
        
      }

      .red-img1{
        width:100px
    }
    
    .red-img2{
        width:100px
    }
    
    .red-img3{
        width:100px
    }

   
  
}


@media screen and (max-width: 500px){

    .diapositiva {
        height: 40%;
        }

    .boton-prox {
        top: 150px;
        right: 10px;
        }
        
    .boton-prev {
    top: 150px;
    left: 10px;
    }

    #Experience {
        margin-top: -400px;
    }
   
    .proyectos{
        display: grid;
        grid-template-areas: 
        "post1"
        "post2"
        "post3" ;
        margin-left: 20px;

    }

    .project-post{
        display: inline-block;
        width: 400px;
    }

    .project-img{
        width: 70%;
    }

    .about-me-section{
        display: grid;
        grid-template-areas:
        "header"
        "perfil"
        "objetivos"
        "gustos";
        background-color: #3B1756;
        justify-items: center;
    }

    .objetivos {
        grid-area: objetivos;
        text-align: center;
        margin-top: 50px;
       
        border: #EEE1F6 solid;
        border-radius: 5%;
        background-color: #EEE1F6;
        padding: 10px 40px;

    }


    

    .gustos{
        grid-area: gustos;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-areas: 
        "gusto-title"
        "gusto1 gusto2" 
        "gusto3 gusto4";
        justify-items: center;
        
        
    }
    
    .gusto-img{
        width: 200px;
        height: 200px;
        
    }

    .skills-chart{    
        grid-template-columns: 200px 200px;
        justify-items: center;
        
    }

    .skill-post{
        height: 200px;
    }

    .skill-title{
        font-size: 15px;
    }

    .skill-description{
        font-size: 12px;
    }

    .skill2 .skill-description{
        font-size: 8.5px;
    }

    .skill4 .skill-description{
        font-size: 9px;
    }

    .bar {
        
        padding: 5px 20px;
        
      }

      .Progress-bar {
        margin-left: 50px;
        
      }
    
      .redes-sociales{
        display: grid;
        grid-template-areas: 
        "header-red header-red"
        "red1 red2"
        "red3 red4"
        "msg-red msg-red"
        "red5 red5";
        align-items: center;
    }

    .red-msg{
        margin: 0 90px;
        
    }
}